{% extends "website/layouts/base.html" %}
{% block content %}
<!-- Start Hero -->
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">About Us
            </h3>

        </div><!--end grid-->
    </div><!--end container-->

    <div class="absolute text-center z-10 bottom-5 right-0 left-0 mx-3">
<!--        <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">-->
<!--            <li-->
<!--                class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white/50 hover:text-white">-->
<!--                <a href="index.html">Jobstack</a></li>-->
<!--            <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white"-->
<!--                aria-current="page">About Us</li>-->
<!--        </ul>-->
    </div>
</section><!--end section-->
<div class="relative">
    <div
        class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start -->
<section class="relative md:py-24 py-16">
    <div class="container md:pb-16">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
            <div class="lg:col-span-5 md:col-span-6">
                <div class="relative">
                    <div class="relative">
                        <img src="assets/images/about/ab01.jpg"
                            class="lg:w-[400px] w-[280px] rounded-md shadow dark:shadow-gray-700" alt="">
                        <div class="absolute top-0 translate-y-2/4 ltr:right-0 rtl:left-0 text-center">
                            <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"
                                class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-700 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-emerald-600 dark:text-white">
                                <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                            </a>
                        </div>
                    </div>
                    <div class="absolute ltr:md:-right-5 ltr:right-0 rtl:md:-left-5 rtl:left-0 -bottom-16">
                        <img src="assets/images/about/ab02.jpg"
                            class="lg:w-[280px] w-[200px] border-8 border-white dark:border-slate-900 rounded-md shadow dark:shadow-gray-700"
                            alt="">
                    </div>
                </div>
            </div>

            <div class="lg:col-span-7 md:col-span-6 mt-14 md:mt-0">
                <div class="ltr:lg:ml-5 rtl:lg:mr-5">
                    <h3 class="mb-6 md:text-[26px] text-2xl md:leading-normal leading-normal font-semibold">Basic introduction
                        <br>
<!--                        Find the one that's right for you. -->
</h3>

                    <p class="text-slate-400 max-w-xl">As an organization, we recognize the important role that volunteering plays in building strong and resilient communities. We believe that everyone has a responsibility to contribute to the betterment of society, and we actively encourage our employees and partners to engage in volunteer work. We are committed to supporting our employees in their volunteer efforts and have created programs and initiatives that provide them with opportunities to give back to their communities. We have also partnered with various non-profit organizations to help them in their missions and have provided financial and logistical support to help them achieve their goals. Through our collective efforts, we have been able to make a positive impact in the lives of many and we will continue to support and promote volunteerism as a means of building a better world.</p>

                    <ul class="list-none text-slate-400 mt-4">
                        <li class="mb-1 flex"><i
                                class="uil uil-check-circle text-emerald-600 text-xl ltr:mr-2 rtl:ml-2"></i>  We value volunteerism and its role in building strong communities.</li>
                        <li class="mb-1 flex"><i
                                class="uil uil-check-circle text-emerald-600 text-xl ltr:mr-2 rtl:ml-2"></i> We encourage employees and partners to engage in volunteer work.</li>
                        <li class="mb-1 flex"><i
                                class="uil uil-check-circle text-emerald-600 text-xl ltr:mr-2 rtl:ml-2"></i>  We offer programs and initiatives to support employee volunteering.</li>

                        <li class="mb-1 flex"><i
                                class="uil uil-check-circle text-emerald-600 text-xl ltr:mr-2 rtl:ml-2"></i>  We partner with non-profit organizations to help them achieve their missions.</li>

                        <li class="mb-1 flex"><i
                                class="uil uil-check-circle text-emerald-600 text-xl ltr:mr-2 rtl:ml-2"></i> We provide financial and logistical support to non-profits.</li>

                    </ul>
                    <div class="mt-6">
                        <a href="contact-us"
                            class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white mt-2 rounded-md"><i
                                class="uil uil-envelope"></i> Contact us</a>
                    </div>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
    <section class="relative lg:py-24 py-16">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                <div class="lg:col-span-5 md:col-span-6">
                    <div class="lg:ml-5">
                        <div class="bg-white dark:bg-slate-900 rounded-md shadow dark:shadow-gray-700 p-6">
                            <h3 class="mb-6 text-2xl leading-normal font-semibold">LGBT+</h3>
                            <p class="text-justify">
                                As an organization, we believe in creating a diverse and inclusive workplace where everyone feels respected, valued, and supported. We recognize and celebrate the unique perspectives, talents, and contributions that individuals from all backgrounds bring to the table, including those who identify as members of the LGBT+ community. We are committed to promoting a culture of acceptance and understanding, and have taken steps to ensure that our policies and practices reflect our values. We actively support LGBT+ initiatives and organizations, and have made contributions to a number of local and national groups working to advance the rights and wellbeing of LGBT+ individuals. We are proud to stand with the LGBT+ community and will continue to advocate for equality, justice, and inclusion for all.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-7 md:col-span-6">
                    <img src="/assets/images/lgbt.png" alt="">
                </div>


            </div>
        </div><!--end container-->

        <div class="container lg:mt-24 mt-16">
            <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">
                <div class="text-center px-6">
                    <div class="relative text-transparent">
                        <div
                                class="w-14 h-14 bg-emerald-600/5 text-emerald-600 rounded-xl text-2xl flex align-middle justify-center items-center mx-auto shadow-sm dark:shadow-gray-800">
                            <i class="uil uil-phone"></i>
                        </div>
                    </div>

                    <div class="content mt-7">
                        <h5 class="title h5 text-lg font-semibold">Phone</h5>
                        <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit
                        </p>

                        <div class="mt-5">
                            <a href="tel:+44 07579915713"
                               class="btn btn-link text-emerald-600 hover:text-emerald-600 after:bg-emerald-600 transition duration-500">+44 07579915713</a>
                        </div>
                    </div>
                </div>

                <div class="text-center px-6">
                    <div class="relative text-transparent">
                        <div
                                class="w-14 h-14 bg-emerald-600/5 text-emerald-600 rounded-xl text-2xl flex align-middle justify-center items-center mx-auto shadow-sm dark:shadow-gray-800">
                            <i class="uil uil-envelope"></i>
                        </div>
                    </div>

                    <div class="content mt-7">
                        <h5 class="title h5 text-lg font-semibold">Email</h5>
                        <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit
                        </p>

                        <div class="mt-5">
                            <a href="mailto:jren200011@gmail.com"
                               class="btn btn-link text-emerald-600 hover:text-emerald-600 after:bg-emerald-600 transition duration-500">jren200011@gmail.com</a>
                        </div>
                    </div>
                </div>

                <div class="text-center px-6">
                    <div class="relative text-transparent">
                        <div
                                class="w-14 h-14 bg-emerald-600/5 text-emerald-600 rounded-xl text-2xl flex align-middle justify-center items-center mx-auto shadow-sm dark:shadow-gray-800">
                            <i class="uil uil-map-marker"></i>
                        </div>
                    </div>

                    <div class="content mt-7">
                        <h5 class="title h5 text-lg font-semibold">Location</h5>
                        <p class="text-slate-400 mt-3">University of Leeds Woodhood <br> Leeds LS2 9JT, United Kingdom</p>
    
                        <div class="mt-5">
                            <a href="https://goo.gl/maps/j6AFBRdHkfmXVavcA" target="_blank" style="border:0" class="w-full h-[500px]"
                                
                                ><span class="btn btn-link text-emerald-600 hover:text-emerald-600 after:bg-emerald-600 transition duration-500">View
                                    on Google map</span></a>
                        </div>
                    </div>
                </div>
            </div><!--end grid-->
        </div><!--end container-->

        <div class="container-fluid relative md:p-8 mt-4">
            <div class="grid grid-cols-1">
                <div class="w-full leading-[0] border-0">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.033665931475!2d-1.5572214846978403!3d53.806684647831815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c02da8a25af%3A0xd388478487e96af9!2sUniversity%20of%20Leeds!5e0!3m2!1sen!2s!4v1680866345278!5m2!1sen!2s"
                            style="border:0" class="w-full h-[500px]" allowfullscreen=""></iframe>
                </div>
            </div><!--end grid-->
        </div><!--end container--></section><!--end section-->
    <div class="container md:mt-24 mt-16">
<!--        <div class="grid grid-cols-1 pb-8 text-center">-->
<!--            <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Jobstack Features-->
<!--            </h3>-->

<!--            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own-->
<!--                personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>-->
<!--        </div>&lt;!&ndash;end grid&ndash;&gt;-->

        <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
<!--            <div-->
<!--                class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">-->
<!--                <div-->
<!--                    class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">-->
<!--                    <i class="uil uil-phone text-[30px] text-emerald-600 group-hover:text-white"></i>-->
<!--                </div>-->

<!--                <div class="mt-4">-->
<!--                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">24/7-->
<!--                        Support</a>-->

<!--                    <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>-->

<!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash;end content&ndash;&gt;-->

<!--            <div-->
<!--                class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">-->
<!--                <div-->
<!--                    class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">-->
<!--                    <i class="uil uil-atom text-[30px] text-emerald-600 group-hover:text-white"></i>-->
<!--                </div>-->

<!--                <div class="mt-4">-->
<!--                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Tech &-->
<!--                        Startup Jobs</a>-->

<!--                    <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>-->

<!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash;end content&ndash;&gt;-->

            <div
                class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                    class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                    <i class="uil uil-user-arrows text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                    <div class="text-center">
                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Together</a>
                    </div>

                    <p  class="text-slate-400 mt-3 mb-2 text-justify">Nothing would be possible without a committed community and volunteers, together we can do so much. Using out the box thinking, we have been developing a range of connected solutions and projects, to help create tomorrow's parks today, using a convergence of nature, technology, recycling, education and wellbeing for humans and bugs alike, with many conversations and goodwill of residents.</p>

<!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10  transition-all duration-500">
                <div
                    class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                    <i class="uil uil-hourglass text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                    <div class="text-center">
                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Why?</a>
                    </div>
                    <p class="text-slate-400 mt-3 mb-2">We do this because we care about society and we want it to be the best city it can be, which is only possible by spending time together in a non-controversial way. The clean and beautiful place and the comfortable living environment make everyone feel the convenience brought by volunteer service. As part of a stronger community, it helps prevent those on our doorstep from feeling lonely or isolated.</p>

<!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                class="group p-6 shadow dark:shadow-gray-800 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                    class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-800 rounded-lg transition-all duration-500">
                    <i class="uil uil-briefcase text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                    <div class="text-center">
                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">How?</a>
                    </div>
                    <p class="text-slate-400 mt-3 mb-2">Create programs for community well-being that provide inclusive places to socialize within the community, facilitate opportunities for health and well-being, preserve local nature and provide fun and educational experiences. Strive for a better community tomorrow, today.</p>

<!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->




        </div><!--end grid-->
    </div><!--end container-->

<!--    <div class="container md:mt-24 mt-16">-->
<!--        <div class="grid grid-cols-1">-->
<!--            <div class="relative overflow-hidden bg-emerald-600 rounded-md shadow dark:shadow-gray-700">-->
<!--                <div class="grid md:grid-cols-2 items-center gap-[30px]">-->
<!--                    <div class="relative">-->
<!--                        <img src="assets/images/about/ab05.jpg" alt="">-->
<!--                        <div-->
<!--                            class="absolute md:bottom-1/2 md:translate-y-1/2 md:ltr:-right-10 md:rtl:-left-10 ltr:md:translate-x-0 rtl:md:translate-x-0 -bottom-10 ltr:right-1/2 rtl:left-1/2 ltr:translate-x-1/2 rtl:-translate-x-1/2 text-center">-->
<!--                            <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"-->
<!--                                class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-700 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-emerald-600 dark:text-white">-->
<!--                                <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div>-->
<!--                        <div class="text-white p-4">-->
<!--                            <h4 class="leading-normal text-4xl mb-3 font-semibold">Get the job of your <br> dreams-->
<!--                                quickly.</h4>-->

<!--                            <p class="text-white/70 text-lg max-w-xl">Search all the open positions on the web. Get your-->
<!--                                own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>-->

<!--                            <ul class="list-none text-white/50 mt-4">-->
<!--                                <li class="mb-1 flex"><i-->
<!--                                        class="uil uil-check-circle text-white text-xl ltr:mr-2 rtl:ml-2"></i> Digital-->
<!--                                    Marketing Solutions for Tomorrow</li>-->
<!--                                <li class="mb-1 flex"><i-->
<!--                                        class="uil uil-check-circle text-white text-xl ltr:mr-2 rtl:ml-2"></i> Our-->
<!--                                    Talented & Experienced Marketing Agency</li>-->
<!--                                <li class="mb-1 flex"><i-->
<!--                                        class="uil uil-check-circle text-white text-xl ltr:mr-2 rtl:ml-2"></i> Create-->
<!--                                    your own skin to match your brand</li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash;end grid&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end container&ndash;&gt;-->

<!--    <div class="container md:mt-24 mt-16">-->
<!--        <div class="relative grid md:grid-cols-3 grid-cols-1 items-center gap-[30px] z-1">-->
<!--            <div class="counter-box text-center">-->
<!--                <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value"-->
<!--                        data-target="1548">1010</span>K+</h1>-->
<!--                <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Job Fulfillment</h5>-->
<!--            </div>&lt;!&ndash;end counter box&ndash;&gt;-->

<!--            <div class="counter-box text-center">-->
<!--                <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value"-->
<!--                        data-target="25">2</span>+</h1>-->
<!--                <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Branches</h5>-->
<!--            </div>&lt;!&ndash;end counter box&ndash;&gt;-->

<!--            <div class="counter-box text-center">-->
<!--                <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value"-->
<!--                        data-target="9">0</span>+</h1>-->
<!--                <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Years Experience</h5>-->
<!--            </div>&lt;!&ndash;end counter box&ndash;&gt;-->
<!--        </div>-->
<!--    </div>&lt;!&ndash;end container&ndash;&gt;-->

<!--    <div class="container-fluid md:mt-24 mt-16">-->
<!--        <div class="container">-->
<!--            <div class="grid grid-cols-1">-->
<!--                <div class="relative overflow-hidden lg:px-8 px-6 py-10 rounded-xl shadow-lg dark:shadow-gray-700">-->
<!--                    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">-->
<!--                        <div class="lg:col-span-8 md:col-span-7">-->
<!--                            <div class="ltr:md:text-left rtl:md:text-right text-center relative z-1">-->
<!--                                <h3 class="text-2xl font-semibold text-black dark:text-white mb-4">Explore a job now!-->
<!--                                </h3>-->
<!--                                <p class="text-slate-400 max-w-xl">Search all the open positions on the web. Get your-->
<!--                                    own personalized salary estimate. Read reviews on over 30000+ companies worldwide.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->

<!--                        <div class="lg:col-span-4 md:col-span-5">-->
<!--                            <div class="ltr:text-right rtl:text-left relative z-1">-->
<!--                                <a href="employer-detail.html"-->
<!--                                    class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 dark:border-emerald-600 text-white rounded-md">Apply-->
<!--                                    Now</a>-->
<!--                                <a href="aboutus.html"-->
<!--                                    class="btn bg-emerald-600/5 hover:bg-emerald-600 border-emerald-600/10 hover:border-emerald-600 text-emerald-600 hover:text-white rounded-md ltr:ml-2 rtl:mr-2">Learn-->
<!--                                    More</a>-->
<!--                            </div>-->
<!--                        </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--                    </div>&lt;!&ndash;end grid&ndash;&gt;-->

<!--                    <div class="absolute -top-5 ltr:-left-5 rtl:-right-5">-->
<!--                        <div-->
<!--                            class="uil uil-envelope lg:text-[150px] text-7xl text-black/5 dark:text-white/5 ltr:-rotate-45 rtl:rotate-45">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="absolute -bottom-5 ltr:-right-5 rtl:-left-5">-->
<!--                        <div class="uil uil-pen lg:text-[150px] text-7xl text-black/5 dark:text-white/5 rtl:-rotate-90">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash;end grid&ndash;&gt;-->
<!--        </div>&lt;!&ndash;end container&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end container&ndash;&gt;-->
</section><!--end section-->
<!-- End -->
{% endblock content %}
