{% extends "website/layouts/base.html" %}
{% block content %}
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover ">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">User Application</h3>

        </div><!--end grid-->
    </div><!--end container-->

</section><!--end section-->
<!-- < class="relative table w-full py-28 px-20 text-center"> -->
  <section class="flex flex-col items-center justify-center min-h-screen bg-gray-100 text-gray-800 p-28">

    <!-- Component Start -->
    <div style="background-color: rgb(16 185 129 / .9) !important" class="flex flex-col w-full max-w-xl bg-white shadow-xl rounded-t-lg overflow-hidden p-4">
      Chat
    </div>
    <div class="flex flex-col flex-grow w-full max-w-xl bg-white shadow-xl rounded-b-lg overflow-hidden">
      <div class="flex flex-col flex-grow h-0 p-4 overflow-auto">
        {% for chat in chats%}
        {% if chat.senderId != userId %}
        <div class="flex w-full mt-2 space-x-3 max-w-xs">
          
          <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
          <div>
            <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
              <p class="text-sm">{{chat.message}}</p>
            </div>
            <span class="text-xs text-gray-500 leading-none">{{chat.created_at}}</span>
          </div>
        </div>
        {% else %}
        <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
          <div>
            <div style="background-color: rgb(16 185 129 / .9) !important" class="text-white p-3 rounded-l-lg rounded-br-lg">
              <p class="text-sm">{{chat.message}}</p>
            </div>
            <span class="text-xs text-gray-500 leading-none">{{chat.created_at}}</span>
          </div>
          <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
        <form action="/send-message/{{receiver_id}}" method="post" class="bg-gray-300 p-4 flex ">
          {{ form.hidden_tag() }}
    
          {{form.message(class="flex items-center h-10 rounded-l-lg px-3 text-sm content-start w-full" , placeholder="Type your message…")}}
        <button style="background-color: rgb(16 185 129 / .9) !important" class="py-2 px-6 text-white rounded-r-lg" type="submit">Send</button>
        
        </form>
    </div>
    <!-- Component End  -->
  
  <!-- </div> -->
</section>

{% endblock content %}
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}
