{% extends "website/layouts/base.html" %}
{% block content %}
<!-- Start Hero -->
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Contact Us
            </h3>

        </div><!--end grid-->
    </div><!--end container-->

</section><!--end section-->
<!-- Google Map -->

<!-- Start Section-->
<section class="relative lg:py-24 py-16">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
            <div class="lg:col-span-7 md:col-span-6">
                <img src="assets/images/svg/contact.svg" alt="">
            </div>

            <div class="lg:col-span-5 md:col-span-6">
                <div class="lg:ml-5">
                    <div class="bg-white dark:bg-slate-900 rounded-md shadow dark:shadow-gray-700 p-6">
                        <h3 class="mb-6 text-2xl leading-normal font-semibold">Get in touch !</h3>

                        <form method="post" action="/contact-us">
                            {{ form.hidden_tag() }}
                            <p class="mb-0" id="error-msg"></p>
                            <div id="simple-msg"></div>
                            <div class="grid lg:grid-cols-12 lg:gap-6">
                                <div class="lg:col-span-6 mb-5">
                                    <label for="name" class="font-semibold">Your Name:</label>
                                    {{form.name( class="form-input mt-2" ,placeholder="Name :")}}
                                </div>

                                <div class="lg:col-span-6 mb-5">
                                    <label for="email" class="font-semibold">Your Email:</label>
                                    {{form.email(class="form-input mt-2" ,placeholder="Email :")}}
                                </div>
                            </div>

                            <div class="grid grid-cols-1">
                                <div class="mb-5">
                                    <label for="subject" class="font-semibold">Your Question:</label>
                                    {{form.subject(class="form-input mt-2" ,placeholder="Subject :")}}
                                </div>

                                <div class="mb-5">
                                    <label for="comments" class="font-semibold">Your Comment:</label>
                                    {{form.comment(class="form-input mt-2 textarea" ,placeholder="Comment :")}}
                                </div>
                            </div>
                            <button type="submit" id="submit" name="send"
                                class="btn bg-emerald-600 hover:bg-emerald-700 text-white rounded-md">Send
                                Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->

    <div class="container lg:mt-24 mt-16">
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">
            <div class="text-center px-6">
                <div class="relative text-transparent">
                    <div
                        class="w-14 h-14 bg-emerald-600/5 text-emerald-600 rounded-xl text-2xl flex align-middle justify-center items-center mx-auto shadow-sm dark:shadow-gray-800">
                        <i class="uil uil-phone"></i>
                    </div>
                </div>

                <div class="content mt-7">
                    <h5 class="title h5 text-lg font-semibold">Phone</h5>
                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit
                    </p>

                    <div class="mt-5">
                        <a href="tel:+44 07579915713"
                            class="btn btn-link text-emerald-600 hover:text-emerald-600 after:bg-emerald-600 transition duration-500">+44 07579915713</a>
                    </div>
                </div>
            </div>

            <div class="text-center px-6">
                <div class="relative text-transparent">
                    <div
                        class="w-14 h-14 bg-emerald-600/5 text-emerald-600 rounded-xl text-2xl flex align-middle justify-center items-center mx-auto shadow-sm dark:shadow-gray-800">
                        <i class="uil uil-envelope"></i>
                    </div>
                </div>

                <div class="content mt-7">
                    <h5 class="title h5 text-lg font-semibold">Email</h5>
                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit
                    </p>

                    <div class="mt-5">
                        <a href="mailto:jren200011@gmail.com"
                            class="btn btn-link text-emerald-600 hover:text-emerald-600 after:bg-emerald-600 transition duration-500">jren200011@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="text-center px-6">
                <div class="relative text-transparent">
                    <div
                        class="w-14 h-14 bg-emerald-600/5 text-emerald-600 rounded-xl text-2xl flex align-middle justify-center items-center mx-auto shadow-sm dark:shadow-gray-800">
                        <i class="uil uil-map-marker"></i>
                    </div>
                </div>

                <div class="content mt-7">
                    <h5 class="title h5 text-lg font-semibold">Location</h5>
                    <p class="text-slate-400 mt-3">University of Leeds Woodhood <br> Leeds LS2 9JT, United Kingdom</p>

                    <div class="mt-5">
                        <a href="https://goo.gl/maps/j6AFBRdHkfmXVavcA" target="_blank" style="border:0" class="w-full h-[500px]"
                            
                            ><span class="btn btn-link text-emerald-600 hover:text-emerald-600 after:bg-emerald-600 transition duration-500">View
                                on Google map</span></a>
                    </div>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container-fluid relative md:p-8 mt-4">
        <div class="grid grid-cols-1">
            <div class="w-full leading-[0] border-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2356.033665931475!2d-1.5572214846978403!3d53.806684647831815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c02da8a25af%3A0xd388478487e96af9!2sUniversity%20of%20Leeds!5e0!3m2!1sen!2s!4v1680866345278!5m2!1sen!2s"  style="border:0" class="w-full h-[500px]" allowfullscreen=""></iframe>
                <!-- <iframe
                        src="https://www.google.com/maps/place/University+of+Leeds/@53.8066846,-1.5572215,17z/data=!3m1!4b1!4m6!3m5!1s0x48795c02da8a25af:0xd388478487e96af9!8m2!3d53.8066815!4d-1.5550328!16zL20vMDFienM5?hl=en"
                        style="border:0" class="w-full h-[500px]" allowfullscreen=""></iframe> -->
            </div>
        </div><!--end grid-->
    </div><!--end container--></section><!--end section-->
<!-- End Section-->
{% endblock content %}
