{% extends "website/layouts/base.html" %}
{% block content %}
<!-- Start Hero -->
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h1 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Corporate Values
            </h1>

        </div><!--end grid-->
    </div><!--end container-->

</section><!--end section-->
<div class="relative">
    <div
            class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start -->
<section class="relative py-4 mb-8">
    <div class="container">
<!--        <div class="grid grid-cols-1 pb-8 text-center">-->
<!--            <h1 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Values-->
<!--            </h1>-->

<!--            <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own-->
<!--                personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>-->
<!--        </div>&lt;!&ndash;end grid&ndash;&gt;-->

        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
            <div
                    class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                    <i class="uil uil-phone text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                   <div class="text-center">
                       <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">
                       Respect</a>
                   </div>
                    <p class="text-slate-400 mt-3 mb-2 text-justify">Our people have the opportunity to progress irrespective of gender, ethnicity, or other differences.</p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                    class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                    <i class="uil uil-atom text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                    <div class="text-center">   <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Honesty</a>
                    </div>

                    <p class="text-slate-400 mt-3 mb-2 text-justify">Staff and Business Partners are encouraged to Speak Up and celebrate those who do the right thing.</p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                    class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                    <i class="uil uil-user-arrows text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                 <div class="text-center">   <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Integrity</a>
                 </div>
                    <p class="text-slate-400 mt-3 mb-2 text-justify">By committing to our policies and rules, we empower our Staff and Business Partners to say “No”.</p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                    class="group p-6 shadow dark:shadow-gray-700 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-700 rounded-lg transition-all duration-500">
                    <i class="uil uil-hourglass text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                  <div class="text-center">  <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Diversity</a>
                  </div>
                    <p class="text-slate-400 mt-3 mb-2 text-justify">Based on our core values, we aspire to maintain a diverse and inclusive culture where everyone, from our employees to our customers and partners, feels respected and valued. Diversity, equity and inclusion are at the heart of how we do business. </p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                    class="group p-6 shadow dark:shadow-gray-800 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-800 rounded-lg transition-all duration-500">
                    <i class="uil uil-user-arrows text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                    <div class="text-center">
                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">Gender</a>
                    </div>
                    <p class="text-slate-400 mt-3 mb-2 text-justify">We are working towards gender equality in our workforce.</p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                    class="group p-6 shadow dark:shadow-gray-800 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-800 rounded-lg transition-all duration-500">
                    <i class="uil uil-user-arrows text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                    <div class="text-center">
                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">LGBT+</a>
                    </div>
                    <p class="text-slate-400 mt-3 mb-2">We are working to advance LGBT+ inclusion within us and the communities where we work.</p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

            <div
                    class="group p-6 shadow dark:shadow-gray-800 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 transition-all duration-500">
                <div
                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-800 rounded-lg transition-all duration-500">
                    <i class="uil uil-briefcase text-[30px] text-emerald-600 group-hover:text-white"></i>
                </div>

                <div class="mt-4">
                 <div class="text-center">
                     <div class="justify-center">
                     <a href=""
                       class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">
                     Disability inclusion and enablement</a>

                     </div>
                 </div>
                    <p class="text-slate-400 mt-3 mb-2 text-justify">We provide a place where people with disabilities can excel.

                        The values can be change if you think can be added more, through the value in a company, I guess you will get more values.
                    </p>

                    <!--                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i-->
<!--                            class="uil uil-arrow-right"></i></a>-->
                </div>
            </div><!--end content-->

<!--            <div-->
<!--                    class="group p-6 shadow dark:shadow-gray-800 rounded-md bg-white hover:bg-emerald-600/5 dark:bg-slate-900 dark:hover:bg-emerald-600/10 text-center transition-all duration-500">-->
<!--                <div-->
<!--                        class="w-16 h-16 flex items-center justify-center mx-auto bg-emerald-600/5 group-hover:bg-emerald-600 dark:bg-emerald-600/10 dark:group-hover:bg-emerald-600 shadow dark:shadow-gray-800 rounded-lg transition-all duration-500">-->
<!--                    <i class="uil uil-user-arrows text-[30px] text-emerald-600 group-hover:text-white"></i>-->
<!--                </div>-->

<!--                <div class="mt-4">-->
<!--                    <a href="" class="text-lg font-semibold hover:text-emerald-600 transition-all duration-500">No-->
<!--                        Missed Opportunities</a>-->

<!--                    <p class="text-slate-400 mt-3 mb-2">Many desktop publishing now use and a search for job.</p>-->

<!--                    &lt;!&ndash;                    <a href="" class="hover:text-emerald-600 font-medium transition-all duration-500">Read More <i&ndash;&gt;-->
<!--&lt;!&ndash;                            class="uil uil-arrow-right"></i></a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>&lt;!&ndash;end content&ndash;&gt;-->
        </div><!--end grid-->
    </div><!--end container-->


<!--    <div class="container md:mt-24 mt-16">-->
<!--        <div class="relative grid md:grid-cols-3 grid-cols-1 items-center gap-[30px] z-1">-->
<!--            <div class="counter-box text-center">-->
<!--                <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value"-->
<!--                                                                                          data-target="1548">1010</span>K+</h1>-->
<!--                <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Job Fulfillment</h5>-->
<!--            </div>&lt;!&ndash;end counter box&ndash;&gt;-->

<!--            <div class="counter-box text-center">-->
<!--                <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value"-->
<!--                                                                                          data-target="25">2</span>+</h1>-->
<!--                <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Branches</h5>-->
<!--            </div>&lt;!&ndash;end counter box&ndash;&gt;-->

<!--            <div class="counter-box text-center">-->
<!--                <h1 class="lg:text-5xl text-4xl font-semibold mb-2 dark:text-white"><span class="counter-value"-->
<!--                                                                                          data-target="9">0</span>+</h1>-->
<!--                <h5 class="counter-head text-sm font-semibold text-slate-400 uppercase">Years Experience</h5>-->
<!--            </div>&lt;!&ndash;end counter box&ndash;&gt;-->
<!--        </div>-->
<!--    </div>&lt;!&ndash;end container&ndash;&gt;-->
</section><!--end section-->
<!-- End -->
{% endblock content %}
