{% extends "website/layouts/base.html" %}
{% block content %}
<!-- Start Hero -->
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Back-End Developer</h3>

        </div><!--end grid-->
    </div><!--end container-->
    
    <div class="absolute text-center z-10 bottom-5 right-0 left-0 mx-3">
        <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">
           <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white/50 hover:text-white"><a href="index.html">Jobstack</a></li>
            <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white" aria-current="page">Job apply form</li>
        </ul>
    </div>
</section><!--end section-->
<div class="relative">
    <div class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start -->
<section class="relative bg-slate-50 dark:bg-slate-800 lg:py-24 py-16">
    <div class="container">
        <div class="md:flex justify-center">
            <div class="lg:w-2/4 md:w-2/3">
                <div class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                    <form class="text-left" action="/job-apply/{{events.id}}" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="grid grid-cols-1">
                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label for="JobType" class="font-semibold">Job:</label>
                                <input id="JobType" disabled type="text" class="form-input border border-slate-100 dark:border-slate-800 mt-1" placeholder="Job Type" value="{{events.title}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="RegisterName">Your Name:</label>
                                <input id="RegisterName" disabled type="text" class="form-input border border-slate-100 dark:border-slate-800 mt-1" placeholder="Harry" value="{{userInfo.name}}">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="LoginEmail">Email Address:</label>
                                <input id="LoginEmail" value="{{userInfo.email}}" disabled type="email" class="form-input border border-slate-100 dark:border-slate-800 mt-1" placeholder="name@example.com">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="PhoneNo">Phone No.:</label>
                                <input id="PhoneNo" value="{{userInfo.phone_number}}" disabled type="number" class="form-input border border-slate-100 dark:border-slate-800 mt-1" placeholder="+458 854-8965">
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label for="statename" class="font-semibold">Location:</label>
                                <input id="statename"value="{{userInfo.city+''+userInfo.country if userInfo.country else '' }}" disabled type="text" class="form-input border border-slate-100 dark:border-slate-800 mt-1" placeholder="Harry">
                            </div>

                            <div class="mb-2 ltr:text-left rtl:text-right">
                                <label for="comments" class="font-semibold">Coverting Letter:</label>
                                {{ form.cover_letter( class="form-input border border-slate-100 dark:border-slate-800 mt-1 textarea", placeholder="Message :") }}
                                <!-- <textarea name="comments" id="comments" class="form-input border border-slate-100 dark:border-slate-800 mt-1 textarea" placeholder="Message :"></textarea> -->
                            </div>

                            <div class="mb-4 ltr:text-left rtl:text-right">
                                <label class="font-semibold" for="multiple_files">Upload Resume:</label>
                                {{ form.cv(accept="application/pdf",class="relative form-input border border-slate-100 dark:border-slate-800 file:h-10 file:-mx-3 file:-my-2 file:cursor-pointer file:rounded-none file:border-0 file:px-3 file:text-neutral-700 bg-clip-padding px-3 py-1.5 file:ltr:mr-3 file:rtl:ml-3 mt-1", id="multiple_files", type="file") }}
                                <!-- <input class="relative form-input border border-slate-100 dark:border-slate-800 file:h-10 file:-mx-3 file:-my-2 file:cursor-pointer file:rounded-none file:border-0 file:px-3 file:text-neutral-700 bg-clip-padding px-3 py-1.5 file:ltr:mr-3 file:rtl:ml-3 mt-1" id="multiple_files" type="file"> -->
                            </div>

                            <div>
                                <button type="submit" id="submit" name="send" class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white">Send</button>
                            </div>
                        </div>
                    </form><!--end form-->
                </div>
            </div>
        </div><!--end flex-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
{% endblock content %}