{% extends "website/layouts/base.html" %}
{% block content %}
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">{{eventInfo.title}}</h3>

        </div><!--end grid-->
    </div><!--end container-->
    
    <!-- <div class="absolute text-center z-10 bottom-5 right-0 left-0 mx-3">
        <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">
           <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white/50 hover:text-white"><a href="index.html">Job Detail</a></li>
            <li class="inline breadcrumb-item text-[15px] font-semibold duration-500 ease-in-out text-white" aria-current="page">Job Detail</li>
        </ul>
    </div> -->
</section><!--end section-->
<div class="relative">
    <div class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<section class="bg-slate-50 dark:bg-slate-800 md:py-24 py-16">
    <div class="container mt-10">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-8 md:col-span-6">
                <div class="md:flex items-center p-6 shadow dark:shadow-gray-700 rounded-md bg-white dark:bg-slate-900">
                    <img src="data:image/*;base64,{{eventInfo['image']}}" class="rounded-full h-28 w-28 p-4 bg-white dark:bg-slate-900 shadow dark:shadow-gray-700" alt="">

                    <div class="md:ltr:ml-4 md:rtl:mr-4 md:mt-0 mt-6">
                        <h5 class="text-xl font-semibold">{{eventInfo.title}}</h5>
                        <div class="mt-2">
                            <span class="text-slate-400 font-medium ltr:mr-2 rtl:ml-2 inline-block"><i class="uil uil-building text-[18px] text-emerald-600 ltr:mr-1 rtl:ml-1"></i> {{eventInfo.organization_name}}</span>
                            <span class="text-slate-400 font-medium ltr:mr-2 rtl:ml-2 inline-block"><i class="uil uil-map-marker text-[18px] text-emerald-600 ltr:mr-1 rtl:ml-1"></i> {{eventInfo.location}}</span>
                            <span class="text-slate-400 font-medium ltr:mr-2 rtl:ml-2 inline-block"><i class="uil uil-link text-[18px] text-emerald-600 ltr:mr-1 rtl:ml-1"></i> {%if eventInfo.website %}<a href="{{eventInfo.website}}" target="_blank">{{eventInfo.website}}</a> {%else%}No link Found {%endif%}</span>
                        </div>
                    </div>
                </div>

                <h5 class="text-lg font-semibold mt-6">Job Description:</h5>

                <p class="text-slate-400 mt-4">{{eventInfo.description}}</p>
                

                <!-- <h5 class="text-lg font-semibold mt-6">Required Experience, Skills and Qualifications: </h5>
                <p class="text-slate-400 mt-4">It sometimes makes sense to select texts containing the various letters and symbols specific to the output language.</p>
                <ul class="list-none">
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Proven experience as a .NET Developer or Application Developer</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>good understanding of SQL and Relational Databases, specifically Microsoft SQL Server.</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Experience designing, developing and creating RESTful web services and APIs</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Basic know how of Agile process and practices</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Good understanding of object-oriented programming.</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Good understanding of concurrent programming.</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Sound knowledge of application architecture and design.</li>
                    <li class="text-slate-400 mt-2"><i class="uil uil-arrow-right text-emerald-600 ltr:mr-1 rtl:ml-1"></i>Excellent problem solving and analytical skills</li>
                </ul> -->

                <div class="mt-5">
                    <a href="{{ url_for('website_blueprint.jobApply',event_id=eventInfo.id) }}" class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">Apply Now</a>
                </div>
            </div><!--end col-->

            <div class="lg:col-span-4 md:col-span-6">
                <div class="shadow dark:shadow-gray-700 rounded-md bg-white dark:bg-slate-900 sticky top-20">
                    <div class="p-6">
                        <h5 class="text-lg font-semibold">Job Information</h5>
                    </div>
                    <div class="p-6 border-t border-slate-100 dark:border-t-gray-700">
                        <ul class="list-none">
                            <li class="flex items-center">
                                <i data-feather="user-check" class="h-5 w-5"></i>

                                <div class="ltr:ml-4 rtl:mr-4">
                                    <p class="font-medium">Employee Type:</p>
                                    <span class="text-emerald-600 font-medium text-sm">{{eventInfo.emptype}}</span>
                                </div>
                            </li>

                            <li class="flex items-center mt-3">
                                <i data-feather="map-pin" class="h-5 w-5"></i>

                                <div class="ltr:ml-4 rtl:mr-4">
                                    <p class="font-medium">Location:</p>
                                    <span class="text-emerald-600 font-medium text-sm">{{eventInfo.location}}</span>
                                </div>
                            </li>

                            <li class="flex items-center mt-3">
                                <i data-feather="monitor" class="h-5 w-5"></i>

                                <div class="ltr:ml-4 rtl:mr-4">
                                    <p class="font-medium">Job Type:</p>
                                    <span class="text-emerald-600 font-medium text-sm">{{eventInfo.title}}</span>
                                </div>
                            </li>

                            <li class="flex items-center mt-3">
                                <i data-feather="briefcase" class="h-5 w-5"></i>

                                <div class="ltr:ml-4 rtl:mr-4">
                                    <p class="font-medium">Experience:</p>
                                    <span class="text-emerald-600 font-medium text-sm">{{eventInfo.experience}}</span>
                                </div>
                            </li>

                            <li class="flex items-center mt-3">
                                <i data-feather="book" class="h-5 w-5"></i>

                                <div class="ltr:ml-4 rtl:mr-4">
                                    <p class="font-medium">Qualifications:</p>
                                    <span class="text-emerald-600 font-medium text-sm">{{eventInfo.qualification}}</span>
                                </div>
                            </li>

            

                            <li class="flex items-center mt-3">
                                <i data-feather="clock" class="h-5 w-5"></i>

                                <div class="ltr:ml-4 rtl:mr-4">
                                    <p class="font-medium">Date posted:</p>
                                    <span class="text-emerald-600 font-medium text-sm">{{eventInfo.created_at}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->
</section>
{% endblock content %}
