{% extends "website/layouts/base.html" %}
{% block content %}
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover ">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">User Review</h3>

        </div><!--end grid-->
    </div><!--end container-->

</section><!--end section-->
<section class="relative table w-full py-28 px-20 text-center">
    <div class="py-4">
        <div class="text-center text-2xl font-bold">Leave a Review</div>
        <form action="" method="post" class="max-w-2xl mx-auto mt-6">
            {{ form.hidden_tag() }}
          <div class="mb-4">
            <label for="rating" class="block text-gray-700 font-bold mb-2">Your Rating</label>
            <div class="flex items-center">
                <div class="mr-2 text-gray-700">Rate this item:</div>
                <div class="rating">
                    {{form.rating( value="0")}}
                  <i class="star far fa-star"></i>
                  <i class="star far fa-star"></i>
                  <i class="star far fa-star"></i>
                  <i class="star far fa-star"></i>
                  <i class="star far fa-star"></i>
                </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="review" class="block text-gray-700 font-bold mb-2">Your Review</label>
            {{form.review(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
          </div>
          <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
          </div>
        </form>
      </div>
      

</section>
{% endblock content %}
{% block javascripts %}

<script>

const ratingContainer = document.querySelector('.rating');
const ratingInput = ratingContainer.querySelector('input[type="hidden"]');
const stars = ratingContainer.querySelectorAll('.star');

stars.forEach((star, index) => {
  star.addEventListener('click', () => {
    debugger
    // Update the styling of the stars
    for (let i = 0; i <= index; i++) {
      stars[i].classList.remove('far');
      stars[i].classList.add('fas');
      stars[i].classList.add('text-yellow-400');
    }
    for (let i = index + 1; i < stars.length; i++) {
      stars[i].classList.add('far');
      stars[i].classList.remove('fas');
      stars[i].classList.remove('text-yellow-400');
    }

    // Update the hidden input field
    ratingInput.value = index + 1;
    $('input[name="rating"]').val(ratingInput.value);
  });
});
</script>
{% endblock javascripts %}