{% extends "website/layouts/base.html" %}
{% block content %}
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover ">
  <div class="absolute inset-0 bg-emerald-900/90"></div>
  <div class="container">
    <div class="grid grid-cols-1 text-center mt-10">
      <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">User
        Application</h3>

    </div><!--end grid-->
  </div><!--end container-->

</section><!--end section-->
<section class="relative table w-full py-28 px-20 text-center">

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Job Id
          </th>
          <th scope="col" class="px-6 py-3">
            Title
          </th>
          <th scope="col" class="px-6 py-3">
            Description
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            Applicant Status
          </th>
          <th scope="col" class="px-6 py-3">
            Empolyee Type
          </th>
          <th scope="col" class="px-6 py-3">
            Job Creation
          </th>
          <th scope="col" class="px-6 py-3">
            Reviews
          </th>
          <th scope="col" class="px-6 py-3">
            Chat with Organization
          </th>
        </tr>
      </thead>
      <tbody>
        {% for record in data %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4">{{record.id}}</td>
          <td class="px-6 py-4">{{record.title}}</td>
          <td class="px-6 py-4">{{record.description}}</td>
          <td class="px-6 py-4">{{record.status}}</td>
          <td class="px-6 py-4">{{record.applicantStatus}}</td>
          <td class="px-6 py-4">{{record.emptype}}</td>
          <td class="px-6 py-4">{{record.created_at}}</td>
          <td class="px-6 py-4">
            {% if record.applicantStatus == 'pending' %}
            Waiting for Approval/Rejection
            {% elif record.review %}
             {{record.review}}
             {% else %}
             <a href="{{url_for('website_blueprint.userReview',event_id=record.id)}}"
              class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white mt-2 rounded-md"><i
                class="uil uil-envelope"></i> Give Review</a>
            {% endif%}
          </td>
          <td class="px-6 py-4">
            <button class="btn btn-link btn-icon mr-1 p-0 b-0">
              <a href="{{url_for('website_blueprint.chat',receiver_id=record.organization_id)}}">
                <i class="fas fa-comment"></i>
              </a>
            </button>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</section>

{% endblock content %}