{% extends "website/layouts/base.html" %}
{% block content %}
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">User
                Profile</h3>

        </div><!--end grid-->
    </div><!--end container-->

</section><!--end section-->
<section class="relative lg:py-24 py-16">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">

            <div class="lg:col-span-12 md:col-span-12 mb-28">
                <div class="lg:ml-5">
                    <div class="bg-white dark:bg-slate-900 rounded-md shadow dark:shadow-gray-700 p-6">
                        <h3 class="mb-6 text-2xl leading-normal font-semibold">Profile</h3>

                        <form action="/user-profile" method="post" name="myForm" id="myForm">
                            {{ form.hidden_tag() }}
                            <p class="mb-0" id="error-msg"></p>
                            <div id="simple-msg"></div>
                            <div class="grid lg:grid-cols-12 lg:gap-6">
                                <div class="lg:col-span-6 mb-5">
                                    <!-- <label for="name" class="font-semibold">Name:</label>
                                    {{ form.name( id="name", class="form-input mt-2",
                                    placeholder="Name :") }} -->
                                    <!-- -->
                                    <div style="width: fit-content;" class="cont">
                                        <label for="file-input">
                                            <img class="rounded-full mb-2 image" style="width: 75px; height: 75px;"
                                                id="blah"
                                                src="{{userInfo['profile_picture'] if userInfo and userInfo['profile_picture'] else 'https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png?f=webp&w=256'}}"
                                                alt="your image" />
                                            <img class="rounded-full mb-2 middle" style="width: 75px; height: 75px;"
                                                id="blah" src="../../../assets/images/add.png" alt="your image" />

                                        </label>
                                    </div>
                                    <input style="display: none;" id="file-input" class="form-control" accept="image/*"
                                        type="file" id="formFile" onchange="readURL(this);">

                                </div>
                                <div class="lg:col-span-6 mb-5">
                                    <label for="name" class="font-semibold">Name:</label>
                                    {{ form.name( id="name", class="form-input mt-2",
                                    placeholder="Name :") }}
                                    <!-- <input value="{{userInfo.name}}" name="name" id="name" type="text" class="form-input mt-2"
                                        placeholder="Name :"> -->
                                </div>

                                <div class="lg:col-span-6 mb-5">
                                    <label for="email" class="font-semibold">Email:</label>
                                    <input value="{{userInfo.email}}" name="email" id="email" type="email"
                                        class="form-input mt-2" placeholder="Email :">
                                </div>

                                <div class="lg:col-span-6 mb-5">
                                    <label for="Phone" class="font-semibold">Phone:</label>
                                    <input value="{{userInfo.phone_number}}" name="Phone" id="phone" type="tel"
                                        class="form-input mt-2" placeholder="Phone :">
                                </div>

                                <div class="lg:col-span-6 mb-5">
                                    <label for="City" class="font-semibold">City:</label>
                                    {{ form.city( id="city",class="form-input mt-2",
                                    placeholder="City :") }}
                                    <!-- <input value="{{userInfo.city if userInfo.city else ''}}" name="City" id="City" type="text" class="form-input mt-2"
                                        placeholder="City :"> -->
                                </div>
                                <div class="lg:col-span-6 mb-5">
                                    <label for="Country" class="font-semibold">Country:</label>
                                    <!-- <input value="{{userInfo.country if userInfo.country else ''}}" name="Country" id="Country" type="text" class="form-input mt-2"
                                        placeholder="Country :"> -->
                                    {{ form.country( id="country", class="form-input mt-2",
                                    placeholder="Country :") }}
                                </div>
                                <div class="lg:col-span-6 mb-5">
                                    <label for="dob" class="font-semibold">Date of Birth:</label>
                                    <!-- <input value="{{userInfo.birthday if userInfo.birthday else ''}}" name="dob" id="dob" type="date" class="form-input mt-2"
                                        placeholder="DOB"> -->
                                    {{ form.dob(id="DOB", class="form-input mt-2",
                                    placeholder="DOB :") }}
                                </div>
                                <div class="lg:col-span-6 mb-5">
                                    <label for="about" class="font-semibold">About:</label>
                                    {{ form.about(id="about", class="form-input mt-2",
                                    placeholder="about :") }}
                                    <!-- <input value="{{userInfo.about if userInfo.about else ''}}" name="about" id="email" type="text" class="form-input mt-2"
                                        placeholder="About :"> -->
                                </div>
                                <div class="lg:col-span-6 mb-5">
                                    <label for="skills" class="font-semibold">Skills:</label>
                                    <!-- <input value="{{userInfo.skills if userInfo.skills else ''}}" name="text" id="skills" type="text" class="form-input mt-2"
                                        placeholder="Skills :"> -->
                                    {{ form.skills(id="skills", type="text", class="form-input mt-2",
                                    placeholder="skills :") }}
                                </div>
                            </div>

                            <!-- <div class="grid grid-cols-1">
                                <div class="mb-5">
                                    <label for="subject" class="font-semibold">Your Question:</label>
                                    <input name="subject" id="subject" class="form-input mt-2" placeholder="Subject :">
                                </div>

                                <div class="mb-5">
                                    <label for="comments" class="font-semibold">Your Comment:</label>
                                    <textarea name="comments" id="comments" class="form-input mt-2 textarea"
                                        placeholder="Message :"></textarea>
                                </div>
                            </div> -->
                            <button type="submit" id="submit"
                                class="btn bg-emerald-600 hover:bg-emerald-700 text-white rounded-md">Update
                                Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
    <style>
        .cont {
            position: relative;
            width: 50%;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            top: 0px;
            position: absolute;

            /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
        }

        .cont:hover .image {
            opacity: 0.3;
        }

        .cont:hover .middle {
            opacity: 1;
        }
    </style>
    <script>
        // $(function () {
        //   bsCustomFileInput.init();
        // });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                    $.ajaxSetup({
                        headers: {
                            // "Content-Type": "application/json; charset=utf-8",
                            'Authorization': 'Bearer ' + '{{ access_token }}'
                        }
                    });
                    debugger;
                    var formData = new FormData();
                    formData.append('file', $('input[type=file]')[0].files[0]);
                    $.ajax({
                        url: '/api/user/user-profile-photo',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                console.log('File uploaded successfully.');
                            }
                        }
                    });
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    {% endblock content %}