{% extends "website/layouts/base.html" %}
{% block content %}
<section class="relative table w-full py-36 bg-[url('../../assets/images/hero/bg.jpg')] bg-top bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-emerald-900/90"></div>
    <div class="container">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-3xl text-2xl md:leading-snug tracking-wide leading-snug font-medium text-white">Job
                Vacancies</h3>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<div class="relative">
    <div
        class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start -->
<section class="relative -mt-[42px] md:pb-24 pb-16">
    <div class="container z-1">
        <div class="d-flex" id="reserve-form">
        </div><!--end grid-->
    </div><!--end container-->
    <div class="container mt-10">
        {% if events %}
        <div class="grid grid-cols-1 gap-[30px]">
            {% for data in events %}
            <div
                class="group relative overflow-hidden md:flex justify-between items-center rounded shadow hover:shadow-md dark:shadow-gray-700 transition-all duration-500 p-5">
                <div class="flex items-center">
                    <div
                        class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                        <img src="data:image/*;base64,{{data['image']}}" class="h-8 w-8" alt="">
                    </div>
                    <a href="/job-detail/{{data['id']}}"
                        class="text-lg hover:text-emerald-600 font-semibold transition-all duration-500 ltr:ml-3 rtl:mr-3 min-w-[180px]">{{data.title}}</a>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-4">
                   
                    <span class="block text-slate-400 text-sm md:mt-1 mt-0"><i class="uil uil-location"></i>
                        {%if data.website %}<a href="{{data.website}}" target="_blank"><p class="truncate  w-[200px] overflow-hidden">{{data.website}}</p></a> {%else%}No link Found {%endif%}</span>
                </div>
                <div class="md:block flex justify-between md:mt-0 mt-4">
                    <span class="block"><span
                            class="bg-emerald-600/10 inline-block text-emerald-600 text-xs px-2.5 py-0.5 font-semibold rounded-full">{{data.emptype}}</span></span>
                    <span class="block text-slate-400 text-sm md:mt-1 mt-0"><i class="uil uil-clock"></i>
                        {{data.duration}}</span>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-2">
                    <span class="text-slate-400"><i class="uil uil-map-marker"></i> {{data.location}}</span>
                    <span class="block font-semibold md:mt-1 mt-0">{{data.companyName}}</span>
                </div>

                <div class="md:mt-0 mt-4">
                    <!--   <a href="" class="btn btn-icon rounded-full bg-emerald-600/5 hover:bg-emerald-600 border-emerald-600/10 hover:border-emerald-600 text-emerald-600 hover:text-white md:relative absolute top-0 right-0 md:m-0 m-3"><i data-feather="bookmark" class="h-4 w-4"></i></a>-->
                    {% if data.isApplied == 0 %}
                    <a href="{{ url_for('website_blueprint.jobApply',event_id=data.id) }}"
                        class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">Apply
                        Now</a>
                    {% else %}
                    <a href="/user-application"
                        class="btn rounded-md bg-emerald-600 hover:bg-danger-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">View Detail
                    </a>
                    {% endif %}

                </div>
                {% if data.isUrgent == "1" %}
                <span
                    class="w-24 bg-yellow-400 text-white text-center absolute ltr:-rotate-45 rtl:rotate-45 ltr:-left-[30px] rtl:-right-[30px] top-1"><i
                        class="uil uil-star"></i></span>
                {% endif %}
            </div>

            {% endfor %}
            <!-- <div class="group relative overflow-hidden md:flex justify-between items-center rounded shadow hover:shadow-md dark:shadow-gray-700 transition-all duration-500 p-5">
                <div class="flex items-center">
                    <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                        <img src="https://w7.pngwing.com/pngs/241/840/png-transparent-computer-icons-student-school-student-angle-people-logo-thumbnail.png" class="h-8 w-8" alt="">
                    </div>
                    <a href="job-detail-two.html" class="text-lg hover:text-emerald-600 font-semibold transition-all duration-500 ltr:ml-3 rtl:mr-3 min-w-[180px]">Tutoring students</a>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-4">
                    <span class="block"><span class="bg-emerald-600/10 inline-block text-emerald-600 text-xs px-2.5 py-0.5 font-semibold rounded-full">Full Time</span></span>
                    <span class="block text-slate-400 text-sm md:mt-1 mt-0"><i class="uil uil-clock"></i> 20th Feb 2023</span>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-2">
                    <span class="text-slate-400"><i class="uil uil-map-marker"></i> Australia</span>
                    <span class="block font-semibold md:mt-1 mt-0">$4,000 - $4,500</span>
                </div>

                <div class="md:mt-0 mt-4">
                    <a href="job-apply" class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">Apply Now</a>
                </div>

                <span class="w-24 bg-yellow-400 text-white text-center absolute ltr:-rotate-45 rtl:rotate-45 ltr:-left-[30px] rtl:-right-[30px] top-1"><i class="uil uil-star"></i></span>
            </div>
            
            <div class="group relative overflow-hidden md:flex justify-between items-center rounded shadow hover:shadow-md dark:shadow-gray-700 transition-all duration-500 p-5">
                <div class="flex items-center">
                    <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                        <img src="https://banner2.cleanpng.com/20180331/apw/kisspng-computer-icons-playground-carousel-playground-5abfde2856be34.1995173415225236883553.jpg" class="h-8 w-8" alt="">
                    </div>
                    <a href="job-detail-two.html" class="text-lg hover:text-emerald-600 font-semibold transition-all duration-500 ltr:ml-3 rtl:mr-3 min-w-[180px]">Supervising playgrounds</a>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-4">
                    <span class="block"><span class="bg-emerald-600/10 inline-block text-emerald-600 text-xs px-2.5 py-0.5 font-semibold rounded-full">Part Time</span></span>
                    <span class="block text-slate-400 text-sm md:mt-1 mt-0"><i class="uil uil-clock"></i> 20th Feb 2023</span>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-2">
                    <span class="text-slate-400"><i class="uil uil-map-marker"></i> USA</span>
                    <span class="block font-semibold md:mt-1 mt-0">$4,000 - $4,500</span>
                </div>

                <div class="md:mt-0 mt-4">
                   
                    <a href="job-apply.html" class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">Apply Now</a>
                </div>
            </div>
            
            <div class="group relative overflow-hidden md:flex justify-between items-center rounded shadow hover:shadow-md dark:shadow-gray-700 transition-all duration-500 p-5">
                <div class="flex items-center">
                    <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                        <img src="https://media.istockphoto.com/id/1262419148/vector/two-hands-icon-vector-illustration-eps10.jpg?s=612x612&w=0&k=20&c=c_5CrCvM1yf9v6CT2m71kOKpovak7GUd6YNDGPf7AUk=" class="h-8 w-8" alt="">
                    </div>
                    <a href="job-detail-two.html" class="text-lg hover:text-emerald-600 font-semibold transition-all duration-500 ltr:ml-3 rtl:mr-3 min-w-[180px]">Assisting in a class</a>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-4">
                    <span class="block"><span class="bg-emerald-600/10 inline-block text-emerald-600 text-xs px-2.5 py-0.5 font-semibold rounded-full">Remote</span></span>
                    <span class="block text-slate-400 text-sm md:mt-1 mt-0"><i class="uil uil-clock"></i> 20th Feb 2023</span>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-2">
                    <span class="text-slate-400"><i class="uil uil-map-marker"></i> China</span>
                    <span class="block font-semibold md:mt-1 mt-0">$4,000 - $4,500</span>
                </div>

                <div class="md:mt-0 mt-4">
                   
                    <a href="job-apply.html" class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">Apply Now</a>
                </div>
            </div>
            
            <div class="group relative overflow-hidden md:flex justify-between items-center rounded shadow hover:shadow-md dark:shadow-gray-700 transition-all duration-500 p-5">
                <div class="flex items-center">
                    <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                        <img src="https://www.kindpng.com/picc/m/318-3180598_skills-icon-png-transparent-png.png" class="h-8 w-8" alt="">
                    </div>
                    <a href="job-detail-two.html" class="text-lg hover:text-emerald-600 font-semibold transition-all duration-500 ltr:ml-3 rtl:mr-3 min-w-[180px]">Sharing a special skill</a>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-4">
                    <span class="block"><span class="bg-emerald-600/10 inline-block text-emerald-600 text-xs px-2.5 py-0.5 font-semibold rounded-full">WFH</span></span>
                    <span class="block text-slate-400 text-sm md:mt-1 mt-0"><i class="uil uil-clock"></i> 20th Feb 2023</span>
                </div>

                <div class="md:block flex justify-between md:mt-0 mt-2">
                    <span class="text-slate-400"><i class="uil uil-map-marker"></i> Dubai</span>
                    <span class="block font-semibold md:mt-1 mt-0">$4,000 - $4,500</span>
                </div>

                <div class="md:mt-0 mt-4">

                    <a href="job-apply.html" class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white ltr:md:ml-2 rtl:md:mr-2 w-full md:w-auto">Apply Now</a>
                </div>
            </div> -->

        </div><!--end grid-->
        {% else %}
        <br><br><br><br>
        <div class="grid grid-cols-1 gap-[30px]">
            <p style="text-align: center;"><i class="fas fa-exclamation-circle"></i> No records found.</p>
        </div>
        
        {% endif %}
    </div><!--end container-->
    
</section><!--end section-->
<!-- End -->
{% endblock content %}