  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="dashboard" class="nav-link">Dashboard</a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li> -->
    </ul>

    <!-- SEARCH FORM -->
<!--    <form class="form-inline ml-3">-->
<!--      <div class="input-group input-group-sm">-->
<!--        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">-->
<!--        <div class="input-group-append">-->
<!--          <button class="btn btn-navbar" type="submit">-->
<!--            <i class="fas fa-search"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <!-- Notifications Dropdown Menu -->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--          <i class="far fa-bell"></i>-->
<!--          <span class="badge badge-warning navbar-badge">15</span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
<!--          <span class="dropdown-item dropdown-header">15 Notifications</span>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a href="#" class="dropdown-item">-->
<!--            <i class="fas fa-envelope mr-2"></i> 4 new messages-->
<!--            <span class="float-right text-muted text-sm">3 mins</span>-->
<!--          </a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a href="#" class="dropdown-item">-->
<!--            <i class="fas fa-users mr-2"></i> 8 friend requests-->
<!--            <span class="float-right text-muted text-sm">12 hours</span>-->
<!--          </a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a href="#" class="dropdown-item">-->
<!--            <i class="fas fa-file mr-2"></i> 3 new reports-->
<!--            <span class="float-right text-muted text-sm">2 days</span>-->
<!--          </a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>-->
<!--        </div>-->
<!--      </li>-->
     
    </ul>
    <ul class="navbar-nav mr-2">
      <li class="nav-item dropdown ml-2">
        <img style="height: 30px;width: 30px;"  data-toggle="dropdown" class="rounded" src="{{user['profile_picture'] if user['profile_picture'] else 'https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png?f=webp&w=256'}}" alt="">
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right ">
          <div class="dropdown-divider"></div>
          <p class="text-center p-2"><b>{{user['name']}}</b></p>
          <div class="dropdown-divider"></div>
         
          <button id="OpenImgUpload" class="dropdown-item dropdown-footer">Change Profile Picture</button>
          <input  id="imgupload" style="display:none"  class="dropdown-item dropdown-footer"  accept="image/*"
          type="file" id="formFile" onchange="readURL(this);">
          <div class="dropdown-divider"></div>
          <a href="/logout" class="dropdown-item dropdown-footer">Logout</a>
        </div>
      </li>
   
     
    </ul>
  </nav>
  <script>
    // $(function () {
    //   bsCustomFileInput.init();
    // });
    $('#OpenImgUpload').click(function(){ $('#imgupload').trigger('click'); });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
                $.ajaxSetup({
                    headers: {
                        // "Content-Type": "application/json; charset=utf-8",
                        'Authorization': 'Bearer ' + '{{ access_token }}'
                    }
                });
                debugger;
                var formData = new FormData();
                formData.append('file', $('input[type=file]')[0].files[0]);
                $.ajax({
                    url: '/api/user/user-profile-photo',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            console.log('File uploaded successfully.');
                        }
                    }
                });
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
  <!-- /.navbar -->
