  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
      <img src="/assets/admin-assets/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Organization Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
<!--      <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--&lt;!&ndash;        <div class="image">&ndash;&gt;-->
<!--&lt;!&ndash;          <img src="/assets/admin-assets/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="info">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="" class="ml-2 d-block">&ndash;&gt;-->
<!--&lt;!&ndash;             Logout&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->

      <!-- SidebarSearch Form -->
<!--      <div class="form-inline">-->
<!--        <div class="input-group" data-widget="sidebar-search">-->
<!--          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
<!--          <div class="input-group-append">-->
<!--            <button class="btn btn-sidebar">-->
<!--              <i class="fas fa-search fa-fw"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
<!--          <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">-->
<!--            <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">-->
<!--              <i class="nav-icon fas fa-tachometer-alt"></i>-->
<!--              <p>-->
<!--                Dashboard-->
<!--                <i class="right fas fa-angle-left"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="/index.html" class="nav-link {% if 'index.html' in segment %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Dashboard v1</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="/index2.html" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Dashboard v2</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="/index3.html" class="nav-link {% if 'index3.html' in segment %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Dashboard v3</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
        {% if user and (user['role_id'] == 3 or user['isSystemManager'] == 1)%}  
          <li class="nav-item">
            <a href="/dashboard" class="nav-link {% if 'dashboard' in page %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
<!--                <span class="right badge badge-danger">New</span>-->
              </p>
            </a>
          </li>
        {% endif %}
          {% if user and (user['role_id'] == 2 or user['isOrganization'] == 1) %}
          <li class="nav-item">
            <a href="/volunteer-task" class="nav-link {% if 'events' in page %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Events
<!--                <span class="right badge badge-danger">New</span>-->
              </p>
            </a>
          </li>
        {% endif %}
        {% if user and (user['role_id'] == 3 or user['isSystemManager'] == 1) %}
          <li class="nav-item">
            <a href="/user" class="nav-link {% if 'user' in page %} active {% endif %}">
              <i class="nav-icon fas fa-user"></i>
              <p>
                User
<!--                <span class="right badge badge-danger">New</span>-->
              </p>
            </a>
          </li>
        {% endif %}
        {% if user and (user['role_id'] == 3 or user['isSystemManager'] == 1) %}
        <li class="nav-item">
          <a href="/contact" class="nav-link {% if 'contact' in page %} active {% endif %}">
            <i class="nav-icon fas fa-address-book"></i>
            <p>
              contact
<!--                <span class="right badge badge-danger">New</span>-->
            </p>
          </a>
        </li>
      {% endif %}
        <!-- {% if user and (user['role_id'] == 3 or user['isSystemManager'] == 1) %}
        <li class="nav-item">
          <a href="/reviews" class="nav-link {% if 'reviews' in page %} active {% endif %}">
            <i class="nav-icon fas fa-star"></i>
            <p>
              Reviews
            </p>
          </a>
        </li>
      {% endif %} -->
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
