{% extends "admin/layout/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/admin-assets/assets/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/summernote/summernote-bs4.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="card card-default pt-3 px-2">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Contacts</h1>
        </div>
        <div class="col-sm-2  offset-sm-4 pt-2">
          <!-- <a href="add-user"><button  name="login" class="btn btn-primary btn-block">Add New</button></a> -->
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content bg-white p-4">
    
    <div class="container-fluid">
      <!-- <div class="row ">
        <div class = "col-md-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filters
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{url_for('admin_blueprint.user',filter='all')}}">All</a>
              <a class="dropdown-item" href="{{url_for('admin_blueprint.user',filter='requiring')}}">Requiring</a>
              <a class="dropdown-item" href="{{url_for('admin_blueprint.user',filter='processing')}}">Processing</a>
              <a class="dropdown-item" href="{{url_for('admin_blueprint.user',filter='end')}}">End</a>
            </div>
          </div>
          
        </div>
      </div> -->
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Contact</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              {% if events %}
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th style="width: 2%">Id</th>
                    <th style="width: 10%">Name</th>
                    <th style="width: 10%">Email</th>
                    <th style="width: 15%">Subject</th>
                    <th style="width: 34%">Comments</th>
                    <th style="width: 13%">Date</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for data in events %}
                      <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.subject}}</td>
                              <td>
                                {{data.comment}}

                              </td>
                                <td>{{data.created_at}}</td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              {% else %}
              <p style="text-align: center;"><i class="fas fa-exclamation-circle"></i> No records found.</p>
                {% endif %}
            </div>
            <!-- /.card-body -->
            <!-- <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div> -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
      </div>
      <!--  -->
    </div><!-- /.container-fluid -->
    
  </section>
  <!-- /.content -->
</div>



{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}