{% extends "admin/layout/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!-- iCheck -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/admin-assets/assets/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/summernote/summernote-bs4.min.css">

{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Event Details</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row h-50">
        <div class="col-12">
          <!-- <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> -->


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <!-- <div class="flex items-center"> -->
                  <!-- <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md"> -->
                  <img src="data:image/*;base64,{{eventInfo['image']}}"
                    class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md"
                    style="width: 40px; height: 40px;" alt="">
                  <!-- </div>  -->
                  <!-- </div> -->
                  {{eventInfo.organization_name}}
                  <small class="float-right">Date: {{eventInfo.created_at}}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">

              <!-- /.col -->
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <b>{{eventInfo.title}}</b><br>
                <br>
                <b>Description:</b> {{eventInfo.description}}<br>
                <b>Location:</b> {{eventInfo.location}}<br>
                <b>Duration:</b> {{eventInfo.duration}} hours
              </div>
              <div class="col-sm-4 invoice-col">
                <b>Job Requirement</b><br>
                <br>
                <b>Qualification:</b> {{eventInfo.qualification}}<br>
                <b>Experience:</b> {{eventInfo.experience}}<br>
                <b>Employee Type:</b> {{eventInfo.emptype}}<br>

              </div>
              <div class="col-sm-4 invoice-col">
                <!-- <b>Job Requirement</b> -->
                <br>
                <br>
                <b>Status:</b> {{eventInfo.status}}<br>
                <b>Employee Status:</b> {{'Urgent' if eventInfo.isUrgent else 'Normal'}}<br>
                <!-- <b>Employee Type:</b> {{eventInfo.emptype}}<br> -->

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>User Id</th>
                      <th>Name</th>
                      <th>Email </th>
                      <th>Phone Number</th>
                      <th>Cover Letter</th>
                      <th>Applicant Status </th>
                      <th>Applied At</th>
                      <!-- <th>Location</th>
                      <th>About</th>
                      <th>Skills</th> -->
                      <th>Birthday</th>
                      <th>Resume/CV</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in applicants%}
                    <tr>
                      <td>{{data.user_id}}</td>
                      <td>{{data.name}}</td>
                      <td>{{data.email}}</td>
                      <td>{{data.phone_number}}</td>
                      <td>{{data.cover_letter}}</td>
                      <td>{{data.applicant_status}}</td>
                      <td>{{data.created_at}}</td>
                      <!-- <td>{{data.city}},{{data.country}}</td> -->
                      <!-- <td>{{data.about}}</td> -->
                      <!-- <td>{{data.skills}}</td> -->
                      <td>{{data.birthday}}</td>
                      <td><a href="{{'/'+data.url+'/'+data.fileName}}"
                          download="{{data.fileName}}">CV-{{data.user_id}}.pdf</a></td>
                      <td>
                        <button class="btn btn-link btn-icon mr-1 p-0 b-0" {% if data.applicant_status=='approved'
                          %}disabled{% endif %} data-toggle="modal" data-target="#approveModal{{data.applicant_id}}">
                          <a href="">
                            <i class="nav-icon fas fa-check text-success"></i>
                          </a>
                        </button>
                        <button {% if data.applicant_status=='rejected' %}disabled{% endif %}
                          class="btn btn-link btn-icon mr-1 p-0 b-0" data-toggle="modal" data-target="#rejectModal{{data.applicant_id}}">
                          <a href="">
                            <i class="nav-icon fas fa-times text-red"></i>
                          </a>
                        </button>
                        <button class="btn btn-link btn-icon mr-1 p-0 b-0">
                          <a href="{{url_for('admin_blueprint.adminChat',receiver_id=data.user_id)}}">
                            <i class="nav-icon fas fa-comment"></i>
                          </a>
                        </button>
                      </td>
                      <div class="modal fade" id="rejectModal{{data.applicant_id}}" tabindex="-1" role="dialog"
                        aria-labelledby="rejectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="rejectModalLabel">Confirm Reject</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to reject this applicant?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <form
                                action="{{ url_for('admin_blueprint.changeStatus',event_id=data.event_id,applicant_id=data.applicant_id,status='rejected') }}"
                                method="get">
                                <button type="submit" class="btn btn-danger">Reject</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="approveModal{{data.applicant_id}}" tabindex="-1" role="dialog"
                        aria-labelledby="approveModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="approveModalLabel">Approve</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to approved this applicant?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <form
                                action="{{ url_for('admin_blueprint.changeStatus',event_id=data.event_id,applicant_id=data.applicant_id,status='approved') }}"
                                method="get">
                                <button type="submit" class="btn btn-success">Approved</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row h-50">
        <div class="col-12">
          <!-- <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> -->


          <!-- Main content -->
          <div class="invoice p-3 mb-8">
            <!-- title row -->
            <div class="row">
              <div class="col-12 text-center">
                <h4><b>
                    Reviews
                  </b>
                </h4>
              </div>
              <!-- /.col -->
            </div>


            <!-- Table row -->
            <div class="row mt-4">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Username</th>
                      <th>Event Name</th>
                      <th>Review</th>
                      <th>Date</th>
                      <th>Rating </th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for data in reviews %}
                    <tr>
                      <td>{{data.id}}</td>
                      <td>{{data.userName}}</td>
                      <td>{{data.organizationName}}</td>
                      <td>{{data.review}}</td>
                      <td>{{data.created_at}}</td>
                      <td>
                        {% for i in range(5) %}
                          {% if i<data.rating-1 %} <i class="nav-icon fas fa-star" style="color: #ffd700;"></i>
                          {% else %}
                          <i class="nav-icon far fa-star" style="color: #ffd700;"></i>
                          {% endif %}
                        {% endfor %}

                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/assets/admin-assets/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script>
  $(document).ready(function () {
    debugger;
    console.log('document ready');
    
    $('input[id^="rejectModal"]').on('shown.bs.modal', function () {
      console.log('modal shown');

      $(this).find('.btn-danger').on('click', function () {
        console.log('reject button clicked');

        $(this).closest('form').submit();
      });
    });

    $('input[id^="approveModal"]').on('shown.bs.modal', function () {
      console.log('modal shown');

      $(this).find('.btn-danger').on('click', function () {
        console.log('approve button clicked');

        $(this).closest('form').submit();
      });
    });
  });
</script>
{% endblock javascripts %}