{% extends "admin/layout/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!-- iCheck -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/admin-assets/assets/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/summernote/summernote-bs4.min.css">

{% endblock stylesheets %}

{% block content %}
{% if resp and resp['success'] %}
                 {{resp.message}}
        {% else %}
                 {{resp.message}}
{% endif%}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="card card-default pt-3 px-2">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><b>Update User</b></h1>
        </div>
        <div class="col-sm-2  offset-sm-4 pt-2">
          <a href="/user"> <button name="login" class="btn btn-primary btn-block">List</button></a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/edit-event/{{resp['data']['id']}}" method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Title</label>
                      {{ form.title(placeholder="Job Title", class="form-control", placeholder="Job Title") }}
                      <!-- <input type="text" class="form-control" id="validationCustom02" placeholder="Job Title" required> -->
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Description</label>
                      {{ form.description(placeholder="Job Title", class="form-control", placeholder="Job Description") }}
                      <!-- <input type="text" class="form-control" id="validationCustom02" placeholder="Job Description" required> -->
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Start Date</label>
                      {{ form.start_date(placeholder="Job Title", class="form-control", placeholder="Start Date") }}
                      <!-- <input type="date" class="form-control" id="validationCustom02" placeholder="Start Date" required> -->
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">End Date</label>
                      {{ form.end_date(placeholder="Job Title", class="form-control", placeholder="End Date") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Max Application</label>
                      {{ form.max_application(placeholder="Job Title", class="form-control", placeholder="Max Application") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Duration</label>
                      {{ form.duration(placeholder="Duration", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Job Type</label>
                      {{ form.job_type(placeholder="Part Time / Full Time", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Qualification</label>
                      {{ form.qualification(placeholder="Qualification", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Experience</label>
                      {{ form.experience(placeholder="Experience", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Location</label>
                      {{ form.location(placeholder="Location", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Status</label>
                      {{ form.status(placeholder="Location", class="form-control") }}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">isUrgent</label>
                      {{ form.isUrgent( ) }}
                    </div>
                  </div>
                  <!-- <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom02" class="form-label">Recruiting Info.</label>
                      <input type="text" class="form-control" id="validationCustom02" value="Python Developer" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom03" class="form-label">Volunteer Locations</label>
                      <input type="text" class="form-control" id="validationCustom03" value="California" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="validationCustom04" class="form-label">Volunteer Hours</label>
                      <input type="text" class="form-control" id="validationCustom04" value="8 Hr" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-6 mt-4">
                    <div class="form-group">
                      <label for="formFile" class="form-label">Upload Image</label>
                      {{ form.image(class="form-control", accept="image/*", type="file", id="formFile", onchange="readURL(this);") }}
                      <!-- <input class="form-control" accept="image/*" type="file" id="formFile" onchange="readURL(this);"> -->

                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <img style="width: 400px; height: 200px;"  id="blah" src="data:image/*;base64,{{resp['data']['image']}}" alt="your image" />
                  </div>
                </div>
                <div class="mt-4 card-footer d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
  integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Bootstrap 4 -->
<script src="/static/assets/admin-assets/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="/static/assets/admin-assets/assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/assets/admin-assets/assets/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/assets/admin-assets/assets/js/demo.js"></script>
<script>
  // $(function () {
  //   bsCustomFileInput.init();
  // });
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#blah')
          .attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

{% endblock javascripts %}