{% extends "admin/layout/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/admin-assets/assets/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="/assets/admin-assets/assets/plugins/summernote/summernote-bs4.min.css">

{% endblock stylesheets %}

{% block content %}
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="card card-default pt-3 px-2">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Events</h1>
        </div>
        <div class="col-sm-2  offset-sm-4 pt-2">
          <a href="add-update-volunteer-task"><button  name="login" class="btn btn-primary btn-block">Add New</button></a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content bg-white p-4">
    
    <div class="container-fluid">
      <div class="row ">
        <div class = "col-md-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filters
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{url_for('admin_blueprint.volunteerTask',filter='all')}}">All</a>
              <a class="dropdown-item" href="{{url_for('admin_blueprint.volunteerTask',filter='requiring')}}">Requiring</a>
              <a class="dropdown-item" href="{{url_for('admin_blueprint.volunteerTask',filter='processing')}}">Processing</a>
              <a class="dropdown-item" href="{{url_for('admin_blueprint.volunteerTask',filter='end')}}">End</a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Tasks</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              {% if events %}
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th style="width: 7%">Job Id</th>
                    <th style="width: 25%">Title</th>
                    <th style="width: 15%">Description</th>
                    <th style="width: 15%;">Company Website</th>
                    <th style="width: 15%">Organization</th>
                    <th style="width: 5%">Start Date</th>
                    <th style="width: 5%">End Date</th>
                    <th style="width: 5%">Status</th>
                    <th style="width: 5%">Max Application</th>
                    <th style="width: 7%">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for data in events %}
                      <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.title}}</td>
                                <td>{{data.description}}</td>
                                <td>{%if data.website %}<a href="{{data.website}}" target="_blank">{{data.website}}</a> {%else%}No link Found {%endif%}</td>
                                <td>{{data.organization_id}}</td>
                                <td>{{data.start_date}}</td>
                                <td>{{data.end_date}}</td>
                                <td>{{data.status}}</td>
                                <td>{{data.max_application}}</td>
                                <td class="text-center flex">
                                  <button  class="btn btn-link btn-icon mr-1 p-0 b-0">
                                    <a href="{{ url_for('admin_blueprint.detailEvent',event_id=data.id) }}">
                                      <i class="nav-icon fas fa-eye"></i>
                                    </a>
                                  </button>
                                  <button {% if data.status == 'end'%} disabled {% endif %} class="btn btn-link btn-icon mr-1 p-0 b-0">
                                    <a  href="{{ url_for('admin_blueprint.editEvent',event_id=data.id) }}">
                                      <i class="nav-icon fas fa-edit"></i>
                                    </a>
                                  </button>
                                  <button {% if data.status == 'end'%} disabled {% endif %} class="btn btn-link btn-icon p-0 b-0" data-toggle="modal" data-target="#deleteModal{{data.id}}">
                                    <a href="">
                                      <i class="nav-icon fas fa-trash text-danger"></i>
                                    </a>
                                    
                                  </button>
                                </td>
                                <div class="modal fade" id="deleteModal{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Are you sure you want to delete this item?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <form  action="{{ url_for('admin_blueprint.deleteEvent', organization_id=data.organization_id,event_id=data.id) }}" method="get">
                                          <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              {% else %}
              <p style="text-align: center;"><i class="fas fa-exclamation-circle"></i> No records found.</p>
                {% endif %}
            </div>
            <!-- /.card-body -->
            <!-- <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div> -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
      </div>
      <!--  -->
    </div><!-- /.container-fluid -->
    
  </section>
  <!-- /.content -->
</div>



{% endblock content %}
{% block javascripts %}
<!-- Bootstrap CSS -->
<!-- Bootstrap 4 -->
<script src="/assets/admin-assets/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script>
  $(document).ready(function() {
    debugger;
  console.log('document ready');

  $('#deleteModal').on('shown.bs.modal', function() {
    console.log('modal shown');

    $(this).find('.btn-danger').on('click', function() {
      console.log('delete button clicked');

      $(this).closest('form').submit();
    });
  });
});
</script>
{% endblock javascripts %}