<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Volunteer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Job Listing Landing Template" name="description">
        <meta content="Job, CV, Career, Resume, Job Portal, Create Job, Post job, tailwind Css" name="keywords">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="1.0.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}

        <!-- favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Css -->
        <!-- Main Css -->
        <link href="assets/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/icons.css">
        <link rel="stylesheet" href="assets/css/tailwind.min.css">

    </head>
    
    <body class="dark:bg-slate-900">
        {{ toastr.include_toastr_js() }}
        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->
        <section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.jpg')] bg-no-repeat bg-center bg-cover">
            <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
            <div class="container">
                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
                    <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md">
                        <div class="p-6">
                            <a href="">
                                <!-- <img src="assets/images/logo-dark.png" class="mx-auto h-[24px] block dark:hidden" alt=""> -->
                                <img src="assets/images/logo-light.png" class="mx-auto h-[24px] dark:block hidden" alt="">
                            </a>
                            <h5 class="my-6 text-xl font-semibold">Login</h5>
                            <form class="text-left" action="/login" method="post">
                                {{ form.hidden_tag() }}
                                <div class="grid grid-cols-1">
                                    <div class="mb-4 ltr:text-left rtl:text-right">
                                            <label class="font-semibold" for="LoginEmail">Email Address:</label>
                                            {{ form.email(placeholder="name@example.com", class="form-input mt-3 rounded-md") }}
                                        <!-- <input id="LoginEmail" type="email" class="form-input mt-3 rounded-md" placeholder="name@example.com"> -->
                                    </div>
    
                                    <div class="mb-4 ltr:text-left rtl:text-right">
                                            <label class="font-semibold" for="LoginPassword">Password:</label>
                                            {{ form.password(placeholder="Password", class="form-input mt-3 rounded-md", type="password") }}
                                        <!-- <input id="LoginPassword" type="password" class="form-input mt-3 rounded-md" placeholder="Password:"> -->
                                    </div>
    
                                    <div class="flex justify-between mb-4">
                                        <!-- <div class="inline-flex items-center">
                                            <input class="form-checkbox text-emerald-600 rounded w-4 h-4 ltr:mr-2 rtl:ml-2 border border-inherit" type="checkbox" value="" id="Rememberme">
                                            <label class="form-check-label text-slate-400" for="Rememberme">Remember me</label>
                                        </div>
                                        <p class="text-slate-400 mb-0"><a href="reset-password.html" class="text-slate-400">Forgot password ?</a></p> -->
                                    </div>
    
                                    <div class="mb-4">
                                        <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Login">
                                    </div>
    
                                    <div class="text-center">
                                        <span class="text-slate-400 me-2">Don't have an account ?</span> <a href="/sign-up" class="text-black dark:text-white font-bold">Sign Up</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                            <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Jobstack. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </section><!--end section -->

        <div class="fixed bottom-3 right-3">
            <a href="" class="back-button btn btn-icon bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md"><i data-feather="arrow-left" class="h-4 w-4"></i></a>
        </div>

        <!-- Switcher -->
        <!-- <div class="fixed top-1/4 -left-2 z-50 hidden sm:block">
            <span class="relative inline-block rotate-90">
                <input type="checkbox" class="checkbox opacity-0 absolute" id="chk">
                <label class="label bg-slate-900 dark:bg-white shadow dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8" for="chk">
                    <i class="uil uil-moon text-[20px] text-yellow-500"></i>
                    <i class="uil uil-sun text-[20px] text-yellow-500"></i>
                    <span class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] w-7 h-7"></span>
                </label>
            </span>
        </div> -->

        <div class="fixed top-1/2 -right-11 z-50 hidden sm:block">
<!--            <a href="https://1.envato.market/jobstack" target="_blank" class="py-1 px-3 relative inline-block rounded-b-md -rotate-90 bg-white dark:bg-slate-900 shadow-md dark:shadow dark:shadow-gray-700 font-semibold"><i class="mdi mdi-cart-outline mr-1"></i> Download</a>-->
        </div>
        <!-- Switcher -->

        <!-- LTR & RTL Mode Code -->
        <!-- <div class="fixed top-[40%] -left-3 z-50">
            <a href="" id="switchRtl">
                <span class="py-1 px-3 relative inline-block rounded-t-md -rotate-90 bg-white dark:bg-slate-900 shadow-md dark:shadow dark:shadow-gray-800 font-semibold rtl:block ltr:hidden">LTR</span>
                <span class="py-1 px-3 relative inline-block rounded-t-md -rotate-90 bg-white dark:bg-slate-900 shadow-md dark:shadow dark:shadow-gray-800 font-semibold ltr:block rtl:hidden">RTL</span>
            </a>
        </div> -->
        <!-- LTR & RTL Mode Code -->

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <script src="assets/js/plugins.init.js"></script>
        <script src="assets/js/app.js"></script>
        <!-- JAVASCRIPTS -->
    </body>
</html>
