<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Volunteer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Job Listing Landing Template" name="description">
        <meta content="Job, CV, Career, Resume, Job Portal, Create Job, Post job, tailwind Css" name="keywords">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="1.0.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
        <!-- favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Css -->
        <!-- Main Css -->
        <link href="assets/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/icons.css">
        <link rel="stylesheet" href="assets/css/tailwind.min.css">

    </head>
    
    <body class="dark:bg-slate-900">
        {{ toastr.include_toastr_js() }}
        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->
        <section class="h-screen flex items-center justify-center relative overflow-hidden bg-[url('../../assets/images/hero/bg3.jpg')] bg-no-repeat bg-center bg-cover">
            <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
            <div class="container">
                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
                    <div class="relative overflow-hidden bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded-md">
                        <div class="">
<!--                          <div class="bg-emerald-600 py-4">-->
<!--                              <a href="home">-->
<!--                                  <h1 class="text-xl font-semibold text-center  ">Volunteer</h1>-->
<!--                                  &lt;!&ndash;                                <img src="assets/images/logo-dark.png" class="mx-auto h-[24px] block dark:hidden" alt="">&ndash;&gt;-->
<!--                                  &lt;!&ndash;                                <img src="assets/images/logo-light.png" class="mx-auto h-[24px] dark:block hidden" alt="">&ndash;&gt;-->
<!--                              </a>-->
<!--                          </div>-->

                            <div class="p-6 ">
                                <h5 class="my-4  mb-2 text-xl font-semibold">Signup as Enterprise</h5>
                                <form action="signup-success.html" class="text-left">
                                    <div class="grid grid-cols-1">
                                        <div class="mb-4 ltr:text-left rtl:text-right">
                                            <label class="font-semibold" for="RegisterName">Your Name:</label>
                                            <input id="RegisterName" type="text" class="form-input mt-3 rounded-md" placeholder="Harry">
                                        </div>

                                        <div class="mb-4 ltr:text-left rtl:text-right">
                                            <label class="font-semibold" for="LoginEmail">Email Address:</label>
                                            <input id="LoginEmail" type="email" class="form-input mt-3 rounded-md" placeholder="name@example.com">
                                        </div>

                                        <div class="mb-4 ltr:text-left rtl:text-right">
                                            <label class="font-semibold" for="LoginPassword">Password:</label>
                                            <input id="LoginPassword" type="password" class="form-input mt-3 rounded-md" placeholder="Password:">
                                        </div>

                                        <div class="mb-4">
                                            <input type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md w-full" value="Register">
                                        </div>

                                        <div class="text-center">
                                            <span class="text-slate-400 me-2">Already have an account ? </span> <a href="login" class="text-black dark:text-white font-bold">Sign in</a>
                                        </div>
                                        <div class="text-center">
                                            <span class="text-slate-400 me-2">SignUp as </span> <a href="sign-up-volunteer" class="text-black dark:text-white font-bold">Volunteer</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        
                        <div class="px-6 py-2 bg-slate-50 dark:bg-slate-800 text-center">
                            <p class="mb-0 text-gray-400 font-medium">© <script>document.write(new Date().getFullYear())</script> Volunteer. Designed by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Sam</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--end section -->
        <!-- JAVASCRIPTS -->
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <script src="assets/js/plugins.init.js"></script>
        <script src="assets/js/app.js"></script>
        <!-- JAVASCRIPTS -->
    </body>
</html>
