<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="/home">
            <div class="block sm:hidden">
                <img src="assets/images/logo-icon-40.png" class="h-10 inline-block dark:hidden" alt="">
                <img src="assets/images/logo-icon-40-white.png" class="h-10 hidden dark:inline-block" alt="">
            </div>
            <div class="sm:block hidden">
                <span class="inline-block dark:hidden">
                    <!-- <img src="assets/images/logo-dark.png" class="h-[24px] l-dark" alt="">
                    <img src="assets/images/logo-light.png" class="h-[24px] l-light" alt=""> -->
                    Volunteer
                </span>
                <img src="assets/images/logo-white.png" class="h-[24px] hidden dark:inline-block" alt="">
            </div>
        </a>
        <!-- End Logo container-->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline-block mb-0">
                <!-- <div class="relative top-[3px]">
                    <i class="uil uil-search text-lg absolute top-[3px] ltr:right-3 rtl:left-3"></i>
                    <input type="text" class="form-input h-9 ltr:pr-10 rtl:pr-10 rounded-3xl sm:w-44 w-36 border-gray-100 dark:border-slate-800 bg-white dark:bg-slate-900" name="s" id="searchItem" placeholder="Search...">
                </div> -->
            </li>
            <!--            <li class="inline-block pl-1 mb-0">-->
            <!--                <a href="/login" class="btn btn-icon rounded-full bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white"><img src="assets/images/team/05.jpg" class="rounded-full" alt=""></a>-->
            <!--            </li>-->
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu justify-end nav-light">
                <li><a href="/home" class="sub-menu-item">Home</a></li>

                <li><a href="/corporate-values" class="sub-menu-item">Corporates Value</a></li>

                <li><a href="/about-us" class="sub-menu-item">About Us</a></li>

                <li><a href="/contact-us" class="sub-menu-item">Contact Us</a></li>
                {% if user and (user['role_id']==1 or user['isVolunteer']==1)%}
                {% if user['isBlocked'] != 1 %}
                <li><a href="/volunteer-tasks" class="sub-menu-item">Volunteer Tasks</a></li>
                {% endif %}
                <li class="has-submenu parent-menu-item"><a href="javascript:void(0)">
                        <div
                        class="btn btn-icon rounded-full bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white">
                        <img src="{{user['profile_picture'] if user['profile_picture'] else '/assets/images/team/05.jpg'}}" class="rounded-full" alt="">
                    </div>
                    </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li class="text-center mb-1 -mt-1"><b>{{user['name']}}</b></li>
                        <hr>
                        {% if user['isBlocked'] != 1 %}
                        <li><a href="/user-profile" class="sub-menu-item">User Profile</a></li>
                        
                        <li><a href="/user-application" class="sub-menu-item">Job Application</a></li>
                        {% endif %}
                        <li><a href="/logout" class="sub-menu-item">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/login" class="sub-menu-item">login/register</a></li>
                {% endif %}

            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->